---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>TP4 - Penguin Simple</h1>
  
  <div id="penguinplot"></div>

  <script>
    import * as Plot from "https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6/+esm";
    
    import penguins from "../assets/penguins.json";

    const plot = Plot.plot({
      marks: [
        Plot.dot(penguins, {
          x: "culmen_length_mm", 
          y: "culmen_depth_mm",  
          stroke: "species",     
        }),
      ],
    });

    document.querySelector("#penguinplot")?.append(plot);
  </script>
</Layout>