---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics - TP4</title>
  </head>
  <body>
    <nav class="flex items-center justify-between p-4 bg-gray-100 shadow-md">
      <h2 class="text-xl font-bold text-gray-800">TP4 - Navigation</h2>
      <ul class="flex space-x-6">
      <li><a href="/" class="text-black font-regular hover:text-gray-600 transition-colors">Accueil</a></li>
      <li><a href="/simple" class="text-black font-regular hover:text-gray-600 transition-colors">Simple</a></li>
      <li><a href="/simple-penguin" class="text-black font-regular hover:text-gray-600 transition-colors">Penguin Simple</a></li>
      <li><a href="/simple-improved" class="text-black font-regular hover:text-gray-600 transition-colors">Simple Amélioré</a></li>
      <li><a href="/penguin-filter" class="text-black font-regular hover:text-gray-600 transition-colors">Penguin Filtre</a></li>
      <li><a href="/penguin-multi-filter" class="text-black font-regular hover:text-gray-600 transition-colors">Penguin Multi-Filtres</a></li>
      </ul>
    </nav>
    
    <main>
      <slot />
    </main>
  </body>
</html>
